.position-img-1{
    opacity: 0.7;
    bottom: 12%;
    left: 8%;
    z-index: -1;
}
.position-img-2{
    opacity: 0.7;
    bottom: 10%;
    right: 10%;
    z-index: -1;
}
.position-img-3{
    opacity: 0.7;
    bottom: 20%;
    left: 4%;
    z-index: -1;
}