.btn{
    font-weight: bold;
    text-transform: uppercase;
}
.btn-secondary{
    &:hover{
        background: $dark;
        color: white;
    }
}
.btn-special{
    background: $dark;
    color: $light;
    &:hover{
        background: transparent;
        color: $dark;
        border: 1px solid $dark;
    }
}

.bottom-25{
    bottom: 25%;
}

.bg-darken{
    background: rgba($color: #000000, $alpha: 0.5) ;
}

.script{
    font-family: 'Windsong', sans-serif;
}