.custom-bg{
    background: rgba(0, 0, 0, 0.7);
    color: white;
}

.custom-bg-video{
    position: absolute;
    width: 100%;
    height: 100vh;
    height: inherit;
    overflow: hidden;
    z-index: -1;
    video{
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    img{
        height: 100vh;
    }
}