@font-face{
    font-family: 'Windsong';
    src: url("./DianaWebber\ Script\ DEMO.ttf");
}

nav{
    background: linear-gradient(rgba(0, 0, 0, 0.4) 50%, transparent) ;
    color: white;
}
.custom-bg{
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    color: white;
}
.slogan{
    font-family: 'Windsong', cursive;
    color: #b0997d;
}

.custom-bg-video{
    position: absolute;
    width: 100%;
    height: 100vh;
    height: inherit;
    overflow: hidden;
    z-index: -1;
}
.custom-bg-video video{
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.link-custom{
    text-decoration: none;
    color: #b0997d;
    position: relative;
}
.link-custom::after{
    content: "";
    position: absolute;
    bottom: -9%;
    right: -9%;
    height: 0.3em;
    width: 0.3em;
    border-radius: 50%;
    background: white;
    transition: all 0.2s ease;
}
.link-custom:hover{
    color: white;
}
.link-custom:hover::after{
    width: 120%;
    height: 120%;
    padding: 1.7em, 2.7em;
    transform: translate(0%, 0%);
    background: #b0997d;
    border-radius: 1em;
    z-index: -1;
}

@media (min-width: 3000px){
    body{
        font-size: 4em
    }
}