
$primary: #b0997d;
$secondary: #ffffff;

@import "../node_modules/bootstrap/scss/bootstrap";

@font-face{
    font-family: 'Windsong';
    src: url("./media/DianaWebberScript.ttf");
}

@import "./scss/about-us", "./scss/general", "./scss/header", "./scss/nav-bar";

html, body{
    height: 100%;
}

.h-100vh{
    height: 100vh;
}

html{
    font-size: 1em;
    @media (min-width: 1000px){
        font-size: 1.2em
    }
    @media (min-width: 2000px){
        font-size: 3em
    }
    @media (min-width: 3000px){
        font-size: 4.8em
    }
}