
$primary: #b0997d;
$secondary: #ffffff;

@import "../node_modules/bootstrap/scss/bootstrap";

@font-face{
    font-family: 'Windsong';
    src: url("./DianaWebberScript.ttf");
}

.btn{
    font-weight: bold;
    text-transform: uppercase;
}
.btn-secondary{
    &:hover{
        background: $dark;
        color: white;
    }
}
.btn-special{
    background: $dark;
    color: $light;
    &:hover{
        background: transparent;
        color: $dark;
        border: 1px solid $dark;
    }
}

nav{
    background: linear-gradient(rgba(0, 0, 0, 0.6) 50%, transparent) ;
    color: white;
}
.custom-bg{
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-position: center;
    color: white;
}
.script{
    font-family: 'Windsong', sans-serif;
}

.custom-bg-video{
    position: absolute;
    width: 100%;
    height: 100vh;
    height: inherit;
    overflow: hidden;
    z-index: -1;
    video{
        min-width: 100%;
        min-height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.link-custom{
    text-decoration: none;
    text-transform: uppercase;
    color: #b0997d;
    position: relative;
    &::after{
        content: "";
        pointer-events: none;
        position: absolute;
        bottom: -50%;
        left: 0;
        right: 0;
        margin: auto;
        height: 0.5em;
        width: 0.5em;
        border-radius: 50%;
        background: white;
        transition: all 0.2s ease;
    }
    &:hover{
        color: white;
        text-decoration: none;
        &::after{
            width: 120%;
            height: 120%;
            transform: translate(-8%, -30%);
            background: #b0997d;
            border-radius: 1em;
            z-index: -1;
        }
    }
}

.bottom-25{
    bottom: 25%;
}

.position-img-1{
    opacity: 0.7;
    bottom: 12%;
    left: 8%;
    z-index: -1;
}
.position-img-2{
    opacity: 0.7;
    bottom: 10%;
    right: 10%;
    z-index: -1;
}
.position-img-3{
    opacity: 0.7;
    bottom: 20%;
    left: 4%;
    z-index: -1;
}

html{
    font-size: 1em;
    @media (min-width: 1000px){
        font-size: 1.2em
    }
    @media (min-width: 2000px){
        font-size: 3em
    }
    @media (min-width: 3000px){
        font-size: 4.8em
    }
}