<header class="custom-bg w-100 h-100 d-flex flex-column justify-content-center text-center">
    <div class="custom-bg-video">
        <video autoplay muted loop src="./media/video-landing.mp4"></video>
    </div>
    <h1 class="script mx-auto display-1">Los mejores panes</h1>
    <h2 class="script mx-auto display-4">Como si siempre fueran recien salidos del horno</h2>
</header>

<main>
    <section id="information">

        <!-- first card presentation element -->
        <%- include("./landingPresentation", {
            text: "Los mejores postres y panificados", 
            subText: "acompaña tu cafe con nuestros productos hechos a mano para conseguir el mwjor sabor y frescura.", 
            img: "./media/baked-goods.jpg", 
            imgSec: "./media/baker-work.jpg",
            variant: "with-bg"
        }) %>

        <!-- second card presentation element -->
        <%- include("./landingPresentation", {
            text: "Los mejores postres y panificados", 
            subText: "acompaña tu cafe con nuestros productos hechos a mano para conseguir el mwjor sabor y frescura.", 
            img: "./media/coffe-beans.jpg", 
            imgSec: "./media/serving-coffee.jpg",
            variant: "no-bg"
        }) %>

        <!-- third card presentation element -->
        <%- include("./landingPresentation", {
            text: "Los mejores postres y panificados", 
            subText: "acompaña tu cafe con nuestros productos hechos a mano para conseguir el mwjor sabor y frescura.", 
            img: "./media/coffee-shop.jpg", 
            imgSec: "./media/coffee-home.jpg",
            variant: "with-bg"
        }) %>
    </section>

    
</main>
