<div class="d-flex p-5 my-5 h-100 position-relative">
    <img class="col-10 col-md-8 col-lg-6 position-absolute position-img-1" 
        src="https://i.ibb.co/x29W1X1/img-founder-compressed.jpg" 
        alt="old couple thath founded this bar"
    >

    <div class="col-6 col-md-6 position-absolute start-50 bottom-50">
        <h1 class="fs-2 fw-bold">Lorem ipsum dolor sit amet.</h1>
        <h2 class="fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit
        </h2>
    </div>
</div>
<div class="row h-50 m-0">
    <div class="col-6 col-md-4 bg-primary text-center h-100 p-5 border-end"> 
        <h3>Why coffee?</h3>
        <p>Coffee is what we've loved since we could drink it!</p>
    </div>

    <div class="col-6 col-md-4 bg-primary text-center h-100 p-5"> 
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>
</div>
<div class="d-flex  p-5 my-3 h-100 position-relative">
    <img class="col-7 col-md-6 col-lg-4 position-absolute position-img-2" 
        src="https://i.ibb.co/chqj22p/img-shop-compressed.jpg" 
        alt="cozy coffee shop"
    >

    <div class="col-6 position-absolute bottom-50">
        <h1 class="fs-2 fw-bold">Lorem ipsum dolor sit amet.</h1>
        <h2 class="fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit. 
        </h2>
    </div>
</div>

<div class="d-flex  p-5 my-3 h-100 position-relative">
    <img class="col-8 col-md-6 col-lg-4 position-absolute position-img-3" 
        src="https://i.ibb.co/42qNvRL/img-barista-compressed.jpg" 
        alt="barista looking at the camera"
    >

    <div class="col-6 position-absolute bottom-25 start-50">
        <h1 class="fs-2 fw-bold">Lorem ipsum dolor sit amet.</h1>
        <h2 class="fs-4">Lorem ipsum dolor sit amet, consectetur adipisicing 
            elit.
        </h2>
    </div>
</div>

<h3 class="text-center">Lorem ipsum dolor sit amet?</h3>
<div class="d-flex justify-content-around my-5">
    <a href="/cafe" class="btn btn-primary">Buy our coffee</a>
    <a href="/sucursales" class="btn btn-primary">Pay a visit</a>
</div>