<header class="h-75 py-5 px-2 bg-dark d-flex flex-column justify-content-center">
    <h1 class="text-center text-light my-5">If you want to say something to us or make a reservation, send us a message!. We will be in contact within 24hs </h1>
</header>
<main class="d-flex flex-column align-items-center">

    <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>

    <script src="../javaScript/handleSubmit.js"></script>

    <form onsubmit="handleSubmit()" action="/send-form" method="POST"  target="dummyframe" id="contact-form" class=" form-control d-flex flex-column align-items-center w-75 my-5 shadow">
        <div class="row w-100 justify-content-between my-3">
            <div class="col-5 p-0">
                <label class="form-label fw-bold" for="name">Name</label>
                <input class="w-100 form-control" type="text" name="name" id="name" required>
            </div>
            <div class="col-5 p-0">
                <label class="form-label fw-bold" for="surname">Surname</label>
                <input class="w-100 form-control" type="text" name="surname" id="surname" required>
            </div>
        </div>
        <div class="w-100 my-3">
            <label class="form-label fw-bold" for="email">Email</label>
            <input class="w-100 form-control" type="email" name="email" id="email" required>
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="w-100 my-3">
            <label class="form-label fw-bold" for="message">Message</label>
            <textarea class="w-100 form-control" name="message" id="message" maxlength="200" rows="4" required></textarea>
            <small class="form-text text-muted">200 characters is the maximum length</small>
        </div>
        <button class="btn btn-primary my-3">Send</button>
    </form>

    <div class="modal-fullscreen fixed-top d-flex align-items-center bg-darken justify-content-center d-none" id="contact-success">
        <div class=" col-10 col-md-6 bg-light text-center p-5 rounded-3">
            <img class="col-6 col-md-3 mb-2" src="../media/approval.svg" alt="">
            <h2>Contact Form Submitted!</h2>
            <p>Thank you <span id="user" class="fw-bold"></span>.</p>
            <p>Your message has been sent, and we will send our response to:</p>
            <p class="fw-bold" id="email"></p>
        </div>
    </div>
</main>