<header class="custom-bg modal-fullscreen d-flex flex-column justify-content-center text-center">
    <div class="custom-bg-video">
        <img class="d-block d-sm-none w-100" src="https://i.ibb.co/42qNvRL/img-barista-compressed.jpg" alt="">
        <video class="d-none d-sm-block" autoplay muted loop src="../media/video-landing_compressed.mp4"></video>
    </div>
    <h1 class="script mx-auto display-1">Get your coffee</h1>
    <h2 class="script mx-auto display-4">there is nothing better than good coffee</h2>
</header>

<main>
    <section>

        <!-- first card presentation element -->
        <%- include("../elements/landingPresentation", {
            text: "The best desserts and bakery", 
            subText: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum modi laborum quas autem a!", 
            img: "https://i.ibb.co/M87TYGL/baked-goods-compressed.jpg",
            imgSec: "https://i.ibb.co/zSNM6cC/baker-work-compressed.jpg",
            variant: "with-bg"
        }) %>
    
        <!-- second card presentation element -->
        <%- include("../elements/landingPresentation", {
            text: "Coffee picked from the bery best", 
            subText: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum modi laborum quas autem a!", 
            img: "https://i.ibb.co/tDs6fPn/coffe-beans-compressed.jpg", 
            imgSec: "https://i.ibb.co/TYvsf2p/serving-coffee-compressed.jpg",
            variant: "no-bg"
        }) %>

        <!-- third card presentation element -->
        <%- include("../elements/landingPresentation", {
            text: "Visit our locations made with comfort in mind", 
            subText: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nostrum modi laborum quas autem a!", 
            img: "https://i.ibb.co/ThzDSmy/coffee-shop-compressed.jpg", 
            imgSec: "https://i.ibb.co/NCR5tqd/coffee-home-compressed.jpg",
            variant: "with-bg"
        }) %>
    </section>
    <section>
        <div class="row">
            <div class="col-sm-6 h-50 p-5 text-center align-middle bg-dark text-light">
                <p class="fs-4">You want to now more about us, what we do, and wath we want to do?</p>
                <a href="/conocenos" class="btn btn-secondary">Read our story</a>
            </div>
            
            <div class="col-sm-6 h-50 p-5 text-center bg-secondary">
                <p class="fs-4">You want to know our plans, make a reservation or a question?</p>
                <a href="/contacto" class="btn btn-special">Contact us</a>
            </div>
        </div>
    </section>
    
</main>
